.dropped-file {
  display: grid;
  grid-template-rows: 30px 30px;
  grid-template-columns: 50px 1fr 50px;
  grid-gap: 10px;
  height: 70px;
  overflow: hidden;
}

.dropped-file .icon {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 60px;
  height: 60px;
  color: #498CF9;

  opacity: 0;
  animation: move-in 0.5s forwards;
  animation-delay: 0.2s;
}

.dropped-file .title {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;

  opacity: 0;
  animation: move-in 0.5s forwards;
  animation-delay: 0.4s;
}

.dropped-file .status {
  grid-column: 3;
  grid-row: 1;
  align-self: flex-end;
  text-align: right;

  opacity: 0;
  animation: move-in 0.5s forwards;
  animation-delay: 0.6s;
}

.dropped-file .progress {
  position: relative;
  grid-column: 2 / 4;
  grid-row: 2;
  width: 100%;
  background-color: #F4F8FD;
  border-radius: 5px;
  height: 10px;
  align-self: flex-start;

  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.8s;
}

.dropped-file .progress > .upload {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #498CF9;
  border-radius: 5px;
  height: 10px;
  width: 0%;
  transition: 0.2s linear width;
  z-index: 2;
}

.dropped-file .progress > .encrypt {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #f9b649;
  border-radius: 5px;
  height: 10px;
  width: 0%;
  transition: 0.2s linear width;
  z-index: 1;
}

@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
