h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: 400;
  color: #2B2B2B;
  font-size: 24pt;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-size: 12pt;
  margin: 2px 0;
}

h2, h3 {
  color: #696969;
}

p {
  color: #2B2B2B;
}

p.bubble {
  background-color: #BFBFBF;
  color: black;
  border-radius: 15px;
  padding: 2px 5px;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.1s linear box-shadow;
}

button:hover {
  box-shadow: 0 8px 24px rgba(0,0,0,0.15), 0 7px 6px rgba(0,0,0,0.10);
}

button:active {
  box-shadow: none;
}

button.primary {
  background-color: #498CF9;
  color: white;
}

input[type="text"], input[type="number"] {
  outline: none;
  border: none;
  padding: 5px;
  background: none;
  border-bottom: 1px solid black;
  margin: 5px 0;
}
