h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: 400;
  color: #2B2B2B;
  font-size: 24pt;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-size: 12pt;
  margin: 2px 0;
}

h2, h3 {
  color: #BFBFBF;
}

p {
  color: #2B2B2B;
}
